<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <style>body  
  {text-align: center;
   background: red;
   color: white;} 
  h1 
  {background: white;
   color: black;}
  h2
  {background: white;
   color: black;}
  </style>
 <body>
   <h1>Team Name: <%= @name %> </h1>
   <h2>Coach: <%= @coach %> </h2>
   <h2>Point Guard: <%= @pg %> </h2>
   <h2>Shooting Guard: <%= @sg %> </h2>
   <h2>Small Forward: <%= @sf %> </h2>
   <h2>Power Forward: <%= @pf %> </h2>
   <h2>Center: <%= @c %> </h2>
   <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjQ1__voNfhAhWJmOAKHS4aAjYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.123rf.com%2Fstock-photo%2Fbasketball_texture.html&psig=AOvVaw23vf3jVGnAlJAfT3mSTU0w&ust=1555594931419813" width="333" height="333">
  </body>
</html>


